.search-bar{
    width: 700px;
    height: 40px;
    border: 1px solid #ffcccc;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    box-shadow: 0 0 8px #ffcccc;
    margin: 20px;
}
.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-button{
    width: 200px;
    height: 40px;
    border: 1px solid #ffcccc;
    border-radius: 5px;
    font-size: 20px;
    background-color: #ff9999;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 8px #ff9999;;
}

.recipie-container{
    display: flex;
    flex-direction: row;
}